/build
/coverage
/node_modules
/resources/compiled/index.html
/vendor
composer.lock
.php_cs.cache
.phpunit.result.cache
tests/stubs/Controllers/GitConflictController.php
package-lock.json
.php-cs-fixer.cache

